@charset 'utf-8';
.process-page {
  width: 1920;
  height: 100%;
  overflow: hidden;
}
.process-page figure {
  width: 100%;
  height: 100%;
}
.process-page figure img {
  width: 100%;
  height: 100%;
}
